---
layout: base
title: JOURNAL
---

{% for post in site.posts %}
<div class="blog-block" >
	<a href="{{ post.url | prepend : site.baseurl }}">
	<div class="blog-general">
		<div class="general-wrap">
			<div class="blog-block-title">
				<p>{{ post.b-title }}</p>
			</div>
			<div class="blog-time">
				<p>{{ post.date | date_to_string }}</p>
			</div>
			<div class="blog-description">
				<p>{{ post.description }}</p>
			</div>
		</div>
	</div>
	</a>
	<div class="blog-img">
		<img src="../images/blog-img1.png" alt="">
	</div>
</div>
<!-- 
<br>
<a href="{{ post.url | prepend : site.baseurl }}">{{ post.title }}</a> -->
{% endfor %}


<!-- <p>{{ posts.size }}</p>
<br>
{% if posts.size > 0 %}
	{% for post in posts %}

		<div class="blog-block">
			<div class="blog-general">
				<div class="general-wrap">
					<div class="blog-block-title">
						<p>{{ post.date | date: "-%m/%d/%Y" }}</p>
					</div>
					<div class="blog-time">
						<p>-2016&nbspDec&nbsp20-</p>
					</div>
					<div class="blog-description">
						<p>{{ post.description }}</p>
					</div>
				</div>
			</div>
			<div class="blog-img">
				<img src="{{ post.thumbnail }}" alt="">
			</div>
		</div>
	{% endfor %}

{% endif %} -->