---
layout: base
title: JOURNAL
---
<br>
<div class="blog-block">
	<div class="blog-general">
		<div class="general-wrap">
			<div class="blog-block-title">
				<p>关于mac的两三事</p>
			</div>
			<div class="blog-time">
				<p>-2016&nbspNov&nbsp28-</p>
			</div>
			<div class="blog-description">
				<p>上了大学才知道电脑的便捷的重要性，喜欢打游戏的我就想着
					买个大屏性能好的笔记本。后来每天拎着这笨重的笔记本指节
				那边都有像茧子一样的痕迹了。</p>
			</div>
		</div>
	</div>
	<div class="blog-img">
		<img src="../images/blog-img1.png" alt="">
	</div>
</div>

<!-- <p>{{ posts.size }}</p>
<br>
{% if posts.size > 0 %}
	{% for post in posts %}

		<div class="blog-block">
			<div class="blog-general">
				<div class="general-wrap">
					<div class="blog-block-title">
						<p>{{ post.date | date: "-%m/%d/%Y" }}</p>
					</div>
					<div class="blog-time">
						<p>-2016&nbspDec&nbsp20-</p>
					</div>
					<div class="blog-description">
						<p>{{ post.description }}</p>
					</div>
				</div>
			</div>
			<div class="blog-img">
				<img src="{{ post.thumbnail }}" alt="">
			</div>
		</div>
	{% endfor %}

{% endif %} -->